.twitter-content {
  float: left;
  width: calc(100% - 60px);
  margin-left: 10px;
}
.twitter-comments {
  padding-top: 10px;
  padding-bottom: 10px;
  width: calc(100% - 70px);
  margin-left: 70px;
}
