.navbar{border-bottom:solid 2px #1da1f2}.navbar li.active{background-color:transparent}.navbar li.active a{color:#1da1f2 !important;background-color:transparent !important}
button{background-color:#1da1f2 !important}
i.fa{color:#1da1f2 !important}
section#home{margin-top:26px}
section#team{background-color:rgba(242,242,242,0.6)}
section#about-us{padding:50px}section#about-us h3.module-subtitle{margin:20px 0 30px}
section#about-us p{font-size:14px}
.steps{vertical-align:middle;font-size:14px;line-height:normal;display:flex;flex-align:column;margin-left:10px}
.step-1{margin-top:21px}
.step-2{margin-top:21px}
